agno
google-genai
streamlit
geemap
requests
psycopg[binary]
earthengine-api
pydub
python-dotenv
fastapi
uvicorn
pillow
sqlalchemy
psycopg
psycopg-binary
sqlalchemy
python-multipart
ffmpeg-python
ollama
openai
duckdb
